[Unit]
Description=BLE server
After=bluetooth.target

[Service]
User=rpi
ExecStart=/usr/bin/python3 /home/rpi/lullgo/ble_server.py
Restart=always

[Install]
WantedBy=multi-user.target
