[Unit]
Description=Infrared Light Brightness Control
Wants=network.target

[Service]
User=rpi
ExecStart=/usr/bin/python3 /home/rpi/lullgo/ir_server.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
